<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)

Copyright (c) 2014 Paulo Miguel Almeida Rodenas <paulo.ubuntu@gmail.com>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.github.pauloubuntu.cordova-plugin-tesseract-camera"
        version="0.0.1">

    <name>Cordova Plugin Tesseract Camera</name>

    <description>
        Provides access to custom camera where user will be able
	to select a few rects and then Tesseract will recognize
	some important tax receipt fields.
    </description>

    <repo>
        https://github.com/pauloubuntu/cordova-plugin-tesseract-camera.git
    </repo>

    <keywords>
        pauloubuntu, loducca, tesseract, camera, tax, receipt
    </keywords>

    <license>MIT</license>

    <author>Paulo Miguel Almeida Rodenas</author>

    <engines>
        <engine name="cordova" version=">=3.7.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/tesseract_camera.js" name="TesseractCamera">
        <clobbers target="cordova.plugins.tesseract.camera" />
        <clobbers target="plugin.tesseract.camera" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaTesseractImageRecognizer">
                <param name="ios-package" value="LDCTesseractImageRecognizerPlugin"/>
	    </feature>
	    <feature name="CordovaTesseractRealTimeRecognizer">
		<param name="ios-package" value="LDCTesseractRealtimeRecognizerPlugin" />
	    </feature>
	    <feature name="CordovaTesseractCamera">
		<param name="ios-package" value="LDCTakePicturePlugin" />
	    </feature>
	    <feature name="CordovaTesseractImageCrop">
		<param name="ios-package" value="LDCImageCropPlugin" />
	    </feature>
        </config-file>

	<!-- Take Picture Plugin -->
        <header-file src="src/ios/LDCFoundationCameraView.h" />
        <source-file src="src/ios/LDCFoundationCameraView.m" />
	<header-file src="src/ios/LDCFoundationCameraFooterView.h" />
	<source-file src="src/ios/LDCFoundationCameraFooterView.m" />
	<header-file src="src/ios/LDCTakePictureViewController.h" />
	<source-file src="src/ios/LDCTakePictureViewController.m" />
	<header-file src="src/ios/LDCTakePicturePlugin.h" />
	<source-file src="src/ios/LDCTakePicturePlugin.m" />
	<!-- Tesseract Image/Realtime Recognizer Plugin -->
	<header-file src="src/ios/LDCTesseractImageRecognizer.h" />
        <source-file src="src/ios/LDCTesseractImageRecognizer.m" />
	<header-file src="src/ios/LDCTesseractImageRecognizerPlugin.h" />
        <source-file src="src/ios/LDCTesseractImageRecognizerPlugin.m" />
	<header-file src="src/ios/LDCTesseractRealtimeRecognizerPlugin.h" />
        <source-file src="src/ios/LDCTesseractRealtimeRecognizerPlugin.m" />
	<!-- Image Crop Plugin -->
	<header-file src="src/ios/LDCFXBlurView.h" />
	<source-file src="src/ios/LDCFXBlurView.m" />
	<header-file src="src/ios/LDCImageCropControlPointView.h" />
	<source-file src="src/ios/LDCImageCropControlPointView.m" />
	<header-file src="src/ios/LDCImageCropImageCropView.h" />
	<source-file src="src/ios/LDCImageCropImageCropView.m" />
	<header-file src="src/ios/LDCImageCropShadeView.h" />
	<source-file src="src/ios/LDCImageCropShadeView.m" />
	<header-file src="src/ios/LDCImageCropFooterView.h" />
	<source-file src="src/ios/LDCImageCropFooterView.m" />
	<header-file src="src/ios/LDCImageCropViewController.h" />
	<source-file src="src/ios/LDCImageCropViewController.m" />
	<header-file src="src/ios/LDCImageCropPlugin.h" />
	<source-file src="src/ios/LDCImageCropPlugin.m" />
	<!-- Categories -->
	<header-file src="src/ios/UIImage+Rotate.h" />
	<source-file src="src/ios/UIImage+Rotate.m" />
	<header-file src="src/ios/UIImage+Base64.h" />
	<source-file src="src/ios/UIImage+Base64.m" />
	<header-file src="src/ios/NSString+Base64.h" />
	<source-file src="src/ios/NSString+Base64.m" />

	<!-- Image Assets that need to be compiled alogn with iOS code -->
	<source-file src="src/ios/assets/btnFotografarNotinha.png" />
	<source-file src="src/ios/assets/corner_bottom_left.png" />
	<source-file src="src/ios/assets/corner_bottom_right.png" />
	<source-file src="src/ios/assets/corner_upper_left.png" />
	<source-file src="src/ios/assets/corner_upper_right.png" />
	<source-file src="src/ios/assets/btn_close.png" />

	<!-- Linked Framework -->
	<framework src="AVFoundation.framework" />
	<framework src="AssetsLibrary.framework" />
	<framework src="QuartzCore.framework" />
	<framework src="Accelerate.framework" />
	<framework src="src/ios/libs/TesseractOCR.framework" custom="true" />
    	<framework src="libstdc++.6.0.9.dylib" />
	<framework src="CoreImage.framework" />
	<framework src="libc++.dylib" />

	<!-- <source-file src="tessdata" target-dir="tessdata" /> -->
    </platform>

    <!-- android -->
    <!--
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InstaGraaccCamera">
                <param name="android-package"
                       value="br.com.loducca.instagraacc.cordova.plugin.camera.InstaGraaccCamera"/>
            </feature>
        </config-file>

        <source-file
            src="src/android/InstaGraaccCamera.java"
            target-dir="src/br/com/loducca/instagraacc/cordova/plugin/camera" />

    </platform>
    -->
</plugin>
